
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center style="margin-top: 5rem;">
        <label for="name">Password:</label>
        <input type="password" name="password"> <br /><br />
        <label for="email">Confirm Password:</label>
        <input type="text" name="cpassword"> <br /> <br />
        <button onclick="sendData(event)">Submit</button> <br/>
        <small id="status_msg" style="color: green;"></small>
    </center>
    <script>
        const token = `<%= data %>`;
        const baseurl = `<%= baseurl %>`;
        function sendData(e) {
            const password = document.querySelector('input[name="password"]').value;
            const cpassword = document.querySelector('input[name="cpassword"]').value;
            fetch(`${baseurl}/users/newResetPwd/${token}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({password, cpassword }),
            }).then((res) => res.json()).then((result) => {
                // const small = document.getElementById('status_msg');
                // small?.textContent = 'Password Updated Successfully'
                console.log(`${baseurl}/users/newResetPwd/${token}`)
                
                    // setTimeout(() => {
                    window?.location?.href = 'http://localhost:3000/login'
                    // }, 3000);
            })
        }
    </script>
</body>
</html>
